.priceCard {
  /* z-index: -1000; */
  background-size: 18px 18px, calc(100% - 36px) 2px, 18px 18px,
    2px calc(100% - 36px);
  background-position: top left, top center, top right, center right,
    bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
}

.priceLightCardBTC {
  border: 1px solid #f7931a;
  border-radius: 18px;
}

.priceLightCardMatic {
  border: 1px solid #00c1fc;
  border-radius: 18px;
}

.priceLightCardETH {
  border: 1px solid #627eea;
  border-radius: 18px;
}
